/* style.css */
body {
    font-family: Arial, sans-serif;
}

#chat-container {
    width: 300px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#chat-header {
    background-color: var(--cor-prim);
    color: #fff;
    padding: 10px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#chat-header h3 {
    margin: 0;
    font-size: 16px;
}

#chat-body {
    display: none;
    padding: 10px;
    background-color: #f1f1f1;
}

#chat-content {
    height: 200px;
    overflow-y: auto;
    margin-bottom: 10px;
}

#chat-input {
    width: calc(100% - 60px);
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.chat-input {
    display: flex;
    border-top: 1px solid #ddd;
}

.chat-input input {
    flex-grow: 1;
    padding: 10px;
    border: none;
    outline: none;
}

.chat-input button {
    padding: 10px 20px;
    background-color: var(--cor-prim);
    color: white;
    border: none;
    cursor: pointer;
}

#send-button {
    padding: 8px 10px;
    background-color: var(--cor-prim);
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#send-button:hover {
    background-color: var(--cor-terc_claro);
}

#toggle-icon {
    font-weight: bold;
    font-size: 20px;
}
